html
    head
        title= titleVar

        script
            include ../public/homeStatic/new-homePage/home.js

        style
            include ../public/homeStatic/new-homePage/home.css
    
    body
        h1= message

        //- div is made without html element name div
        .allMovies
            //- created a for each loop from the movieData rendered in the router request
            each movieData in all_movies
                    .movie(id=movieData._id)
                        h2=movieData.title
                        h3=movieData.release
                        img(src=`${movieData.img}`, alt=`${movieData.title}'s image`)
                        br
                        a(href=`${movieData.imdb_link}`)= `${movieData.title} ImDb link`
                        br
                        button.deleteBtns Delete From Database
                        button.getBtns Get Movie Info
                        button.rentBtns Rent Movie
                        button.returnBtns Return Movie